@import url("./palette.css");

#controls {
  background: linear-gradient(
    to top left,
    var(--eerie-black) 0%,
    var(--onyx) 40%,
    var(--onyx) 70%
  );
  color: var(--cultured);
  border-radius: 15px;
  height: 500px;
  padding: 9% 10% 7% 10%;
}

#controls-header {
  display: flex;
  justify-content: space-between;
  #controls-text {
    p {
      font-size: 14px;
      transform: scale(1, 0.85);
      font-weight: 800;
      color: var(--sunglow);
    }
    #p-bullet {
      font-size: 24px;
    }
    h1 {
      margin-top: -3%;
      font-size: 36px;
      transform: scale(1, 0.9);
      font-weight: 800px;
    }
  }
  #controls-contact {
    padding-top: 25px;
    padding-right: 10px;
  }
  button {
    height: 40px;
    width: 150px;
    background-color: var(--sunglow);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

    &:hover #contact-us {
      color: var(--cultured);
      text-decoration: underline;
      text-decoration-color: var(--cultured);
    }

    #contact-us {
      transition-property: color, text-decoration, text-decoration-color;
      transition-duration: 0.05s;
      font-weight: 600;
      font-size: 14px;
      margin-top: 4px;
      margin-left: 10px;
    }

    #circle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-top: -3.5px;
      margin-right: -7.5px;
      background: var(--cultured);
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#btn-suite {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  button {
    background: Transparent;
    border: 0.2px solid var(--baby-gray);
    border-radius: 15px;
    color: var(--cultured);
    width: 150px;
    height: 150px;
    .btn-content {
      font-size: 14px;
      font-weight: 800;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 0;
      margin-top: -15%;
      .icon {
        font-size: 40px;
        margin-bottom: -3%;
        color: var(--sunglow);
        transition: color 0.25s;
      }
    }
    transition-property: background-color, text-decoration, text-decoration-color,
      color;
    transition-duration: 0.1s, 0.4s;
    &:active,
    &:hover {
      color: var(--eerie-black);
      text-decoration: underline;
      text-decoration-color: var(--sunglow);
      background-color: var(--cultured);
      .icon {
        color: var(--eerie-black);
      }
    }
  }
}

#btn-suite .selected {
  color: var(--eerie-black);
  background-color: var(--cultured);
  svg {
    color: var(--eerie-black);
  }
}
